<div>
  <h2>Users</h2>
<div class="container my-4">  
  <div class="ui-grid-b" style="width: 25%; float: left">
    <div class="leftDiv"> 
     
      <div *ngFor="let user of todoLists">
        <div (click)="selectUser(user.userId)" [class.selected]="selectedUserId === user.userId">
          {{ user.name }}
        </div>
      </div>
      <p *ngIf="!todoLists">No Users Found!</p>
    </div>
  </div>
</div>
</div>

<div class="coltd">
  <div class="col-sm-10">
    <div class="form-group row">
      <div class="col-sm-10">
      <label for="">Todo List</label>
      <button (click)="createTodo()" id="forget" type="button" style="width:100px;height:40px; margin: 20px;padding:revert" class="btn btn-primary">Add Todo</button> 
      </div>
    </div>

  </div>
<div class="container my-3">  
  <div class="ui-grid-b" style="width: 50%; float: right">   
    <div class="leftDiv"> 
      <div *ngIf="selectedUserId !== null">
        <div class="form-group row">
          
        </div>
        <div *ngFor="let user of todoLists">
          <div *ngIf="user.userId === selectedUserId">
            <ul>
              <div *ngFor="let todo of user.toDoList">
              
                <div (click)="selectTodo(todo.id)" [class.selected]="selectedTodoId === todo.id">
                    {{ todo.name }}
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <p *ngIf="!todoList">No TodoList Found!</p>
    </div>
  </div>
</div>
</div>



<div class="container my-5">  
  <div class="row">  
    <div *ngIf="selectedUserId !== null">
      <!-- <h2>Edit Todo</h2> -->
      <div *ngFor="let user of todoLists">
        <div *ngIf="user.userId === selectedUserId">

          <div *ngIf="selectedTodoId !== null && selectedTodoId !== undefined">
            <div *ngIf="user.toDoList[selectedTodoId]?.userId == selectedUserId"> 
              <form [formGroup]="todoForm"> 
                <div class="form-group row">
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="id"  name="id" readonly style="display:none;" [(ngModel)]="user.toDoList[0].id" >
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <input type="text" formControlName="name" class="form-control" id="name" placeholder="Todo Name" name="name" [(ngModel)]="user.toDoList[selectedTodoId].name">
                  </div>
                </div>
                <br>
                <div class="form-group row">
                  <div class="col-sm-10">
                    
                    <input type="checkbox" value="" formControlName="complete"  name="complete"  [(ngModel)]="user.toDoList[selectedTodoId].complete">
                    <label class="form-check-label" for="flexCheckDefault">
                      Complete
                    </label>
                    <input matInput [matDatepicker]="picker" formControlName="dateCompleted" [(ngModel)]="user.toDoList[selectedTodoId].dateCompleted">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </div>
                </div>
                <br>
               <div class="form-group row">
                
                    <div [class.selected]="selectedUserId === user.toDoList[selectedTodoId].userId">
                      <select id="dropdown" name="dropdown" formControlName="userId" [(ngModel)]="user.toDoList[selectedTodoId].userId" >
                        <option *ngFor="let user of usersList" [selected]="user.userId == 1" [value]="user.userId">{{ user.name }}</option>
                      </select>
                    </div>
                
                </div>
                <br>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button (click)="updateTodo(user.toDoList[selectedTodoId])" type="submit" class="btn btn-primary mr-5" style='margin-right:16px'>Update</button>
                    <button type="submit" class="btn btn-danger" (click)="deleteTodo(user.toDoList[selectedTodoId].userId)">Delete</button>
                  </div>
                </div>
              
              </form>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

  


<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <p class="modal-title" id="exampleModalLabel"> <span style="font-size: 25px;font-weight:700">Add New Todo</span><br>
                  </p>

              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

          </div>

          <div class="modal-body">
              <div class="form-group pt-3">
                  <div class="input-field"> 
                    <input formControlName="email" type="text" placeholder="Todo Name">
<br>
                    <input type="checkbox" value="" formControlName="complete"  name="complete" >
                    <label class="form-check-label" for="flexCheckDefault">
                      Complete
                    </label>
                    <input matInput [matDatepicker]="picker2" formControlName="dateCompleted">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>

                  </div>
              </div>
          
          </div>
          <div class="modal-footer">
              <button id="btnClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Submit</button>
          </div>
      </div>
  </div>
</div>-->